.main-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .main-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image-container {

        padding: 10px;

    }

}